CapySwifty/.DS_Store
.DS_Store
fig.py
pixelize-images.py
Secrets.xcconfig
Secrets.xcconfig
capyaccountability.xcodeproj/project.xcworkspace/xcuserdata/yazidears.xcuserdatad/UserInterfaceState.xcuserstate
